<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>VIVO Data Diagram</title>
    <% @javascripts ||= [] %>
    <% @javascripts.each do |js| %>
      <%= javascript_include_tag js %>
    <% end %>

    <% @stylesheets ||= [] %>
    <% @stylesheets.each do |ss| %>
      <%= stylesheet_link_tag ss %>
    <% end %>
    <style type="text/css">
      #main {
        margin: 0em auto;
        text-align: center;
      }
    </style>
    <% if @javascripts.join =~ /jquery/i %>
      <script type="text/javascript" language="JavaScript">
        jQuery.noConflict();
        var $j = jQuery;
      </script>
    <% end %>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
